
<div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
    <div fxFlex *ngFor="let years of yearlySummary" class="card-item">
        <mat-card [ngStyle]="{'width':'300' + 'px'}">
            <mat-card-title> {{years.year}} Orders by Month</mat-card-title>
            <mat-card-content>
                <table>
                    <thead>
                        <th>Month</th>
                        <th>Orders</th>
                        <th>Total Amount</th>
                        <th>Total Shipping</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of years.summaries">
                            <td>{{summary.state}}</td>
                            <td>{{summary.numOrders}}</td>
                            <td>{{summary.totalAmount | currency}}</td>
                            <td>{{summary.totalShipping | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

</div>
