<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
      href="/"><span class="mat-button-wrapper">Orders</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
      href="/listings"><span class="mat-button-wrapper">Listings</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <div class="flex-spacer"></div>
    <button mat-flat-button color="primary">As of {{latestDate | date}}</button>
  </mat-toolbar-row>
</mat-toolbar>