th {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.mat-column-state {
    flex: 0 0 10% !important;
    min-width: 40px !important;
}

.mat-column-numOrders {
    flex: 0 0 10% !important;
    min-width: 40px !important;
}

.mat-column-totalAmount {
    flex: 0 0 10% !important;
    min-width: 90px !important;
}

.mat-column-totalShipping {
    flex: 0 0 10% !important;
    min-width: 90px !important;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }